<<<<<<< HEAD
body::before {
    display: block;
    content: '';
    height: 60px;
}

@media(min-width: 768px) {
    .hero{
        height: 20rem;
    }
    .news-input {
        width: 50%;
    }
=======
body::before {
    display: block;
    content: '';
    height: 60px;
}

@media(min-width: 768px) {
    .hero{
        height: 20rem;
    }
    .news-input {
        width: 50%;
    }
>>>>>>> 1c826d7ccfecda72eb823c72f66e919a8172da46
}